---
layout: layouts/01-shell.njk
permalink: index.html
title: Entries
current: entries
---
<div class="entry-list">
  {% for post in collections.posts %}
    <article class="entry">
      <h2><a href="{{ post | postUrl(sites.ink.path) | url }}">{{ post.data.title }}</a></h2>
      <p class="summary">{{ post.data.lede }}</p>
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </article>
  {% endfor %}
</div>
