---
pagination:
  data: collections.posts
  size: 1
  alias: post
permalink: "02-blue-notebook/posts/{{ post.data.slug }}/index.html"
layout: layouts/02-shell.njk
eleventyComputed:
  title: "{{ post.data.title }}"
  description: "{{ post.data.description }}"
  ogType: article
---
<article itemscope itemtype="https://schema.org/BlogPosting">
  <p class="post-date" data-date="{{ post.date | htmlDateString }}">
    {{ post.date | readableDate }} <span id="read-time">· ≈ {{ post.templateContent | readingTime }} min read</span>
  </p>
  <h1 itemprop="headline">{{ post.data.title }}</h1>
  <p class="lede">{{ post.data.lede | safe }}</p>

  <div itemprop="articleBody">
    {{ post.templateContent | safe }}
  </div>

  <p class="markdown-links">
    <a href="#" id="copy-markdown" data-source="{{ ('/post-sources/' ~ post.data.slug ~ '.md') | url }}">copy as markdown</a> ·
    <a href="{{ ('/post-sources/' ~ post.data.slug ~ '.md') | url }}">view source</a> ·
    <a href="{{ post | postUrl(sites.notebook.path) | url }}">permalink</a> ·
    <a href="{{ ('/' ~ sites.notebook.path ~ '/archive.html') | url }}">archive</a>
  </p>
</article>
